<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- site metas -->
<title>LNPR</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home/css/bootstrap.min.css')}}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home/css/style.css')}}">
<!-- Responsive-->
<link rel="stylesheet" href="{{url_for('static', filename='home/css/responsive.css')}}">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='home/css/jquery.mCustomScrollbar.min.css')}}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

 <style>
.nice-select{
    display:none;
}
.col-4,.col-2,.col-5{
    padding-top:15px;
}

input,select {
  color:#2aab7c;
  border:solid 2px #55b994;
  border-radius: 3px;
  max-width: 100%;
}
.filters,.table{

    margin:0;
}

.alert-primary{
    background-color: #c2f7e3;
    color:black;
    margin-top: 5px;
}
.close{
    color:#ff0800
}
td a{
color:#2aab7c;
}
td a:hover{
color:#315347;
}
thead{
    background-color: #55b994;
    color: white;
}
.btn-search{
    float: right;
}

.container-fluid{
    animation:transition 1s;
}
@keyframes transition{
   from{
      opacity:0;
   }
   to{
      opacity:1;
   }
}
div{
    color: #008051;
    font-weight: 500;
    font-size: 1.01em;
}
input:not([name='fromtime']):not([name='totime']),select{
    width:100%;
}

</style> 
</head>
<body>
	<header id="home"class="section">
	<div class="header_main">
         <!-- header inner -->
         {% set active_page = "detected_vehicles" %}
			 {% include 'header_inner.html' %}
      
         <!-- end header inner -->
         </div>
	</header>
    <!-- banner end -->
    <br>
    <br>
    <br>
<h2 align="center"> Detected Vehicles </h2>
    	<div class="container-fluid">
            <form action="" method="POST" id="filtersForm">
                {% for message in get_flashed_messages() %}
                <div class="row">
                    <div class="col-md-6">
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                    </div>
                </div>
                {% endfor %}
    		<div class="row">
                <!-- <div class="col-2">
                    Filter by Video Time
                  </div> -->

                    <div class="col-12">
                        Filter By Time in video
                        </div>
                    <div class=" col-xs-3">
                        <label>From Time: </label>
                        <input type="text" maxlength=8 pattern="^([01]?[0-9]|2[0-3])(?::([0-5]\d))?(?::([0-5]\d))?$"
                          title="The amount of hours (max 23), optionally succeeded by 
                              &quot;minutes:&quot; (max 59) or by &quot;minutes:seconds:&quot; (max 59)."
                          placeholder="hh:mm:ss" 
                          name="fromtime" value="{{filters['From Time']}}"
                          >
                        <!-- <input type="time" id="fromtime" step="1"  min="00:00:00" max="24:00:00" name="fromtime" value="{{filters['From Time']}}"> -->
                    </div>
                    <div class="col-xs-3">
                        <label>To Time: </label>
                        <input type="text" maxlength=8 pattern="^([01]?[0-9]|2[0-3])(?::([0-5]\d))?(?::([0-5]\d))?$"
                        title="The amount of hours (max 23), optionally succeeded by 
                              &quot;minutes:&quot; (max 59) or by &quot;minutes:seconds:&quot; (max 59)."
                        placeholder="hh:mm:ss" 
                        name="totime" value="{{filters['To Time']}}"
                        >
                        <!-- <input type="time" id="totime" step="1"  min="00:00:00" max="24:00:00" name="totime" value="{{filters['To Time']}}"> -->
                    </div>
                
                  <div class="offset-sm-1 col-sm-3 ">
                    <input type="text" placeholder="Search by vehicle number" name="vehiclenumber" value="{{filters['Vehicle Number']}}">
                </div>
                <div class="col-sm-3">
                    <select name="vehicles" id="vehicles">
                        <option value="">Select Vehicle Type</option>
                        {% for vehicle in vehiclesList%}
                            <option value="{{vehicle}}" 
                            {%if vehicle==filters['Vehicle Type']%}
                            selected
                            {%endif%}
                            >{{vehicle}}</option>
                        {% endfor%}
                        
                      </select>
                    </div>
 
                <div style="display: none;">
                    <div class="offset-8 col-4">
                    <button type="submit" name="filters" value="{{filters}}" class="btn btn-success btn-search">Apply</button>   
                    </div>
                </div>

    			<!-- <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                Select Date
                            </div>
                            <div class=" col-5">
                                <label>From: </label>
                                <input type="date" id="fromdate" name="fromdate" value="{{filters['From Date']}}">
                            </div>
                            <div class="col-5">
                                <label>To: </label>
                                <input type="date" id="todate" name="todate" value="{{filters['To Date']}}">
                            </div>
                        </div>
                        <div class="row">
                            <div >
                              Filter by Video Time
                            </div>
                            <div >
                                <label>From: </label>
                                <input type="time" id="fromtime" name="fromtime" value="{{filters['From Time']}}">
                            </div>
                            <div >
                                <label>To: </label>
                                <input type="time" id="totime" name="totime" value="{{filters['To Time']}}">
                            </div>
                        </div>
    			</div> -->
    			<!-- <div class="col-md-6">
    				<div class="row">
                        <div class="col-4">
                            <input type="text" placeholder="Search by vehicle number" name="vehiclenumber" value="{{filters['Vehicle Number']}}">
                        </div>
                        <div class="col-4">
                            <select name="vehicles" id="vehicles">
                                <option value="">Select Vehicle Type</option>
                                {% for vehicle in vehiclesList%}
                                    <option value="{{vehicle}}" 
                                    {%if vehicle==filters['Vehicle Type']%}
                                    selected
                                    {%endif%}
                                    >{{vehicle}}</option>
                                {% endfor%}
                                
                              </select>
                            </div>
                        <div class="col-4">
                            <input type="text" placeholder="Enter color" name="color" value="{{filters['Color']}}">
                        </div>
                    </div>
                    <div style="display: none;">
                        <div class="offset-8 col-4">
                        <button type="submit" name="filters" value="{{filters}}" class="btn btn-success btn-search">Apply</button>   
                        </div>
                    </div>
    			</div> -->
    		</div>
            </form>
    	</div>
 

   
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 filters">
            <p>Applied Filters <i class="fa fa-filter" aria-hidden="true"></i></p> 
            <hr>
            <button style="display: none;" class="btn btn-danger ">Clear All</button>
            {% for filter in filters %}
            {%if filters[filter] !=""%}
            <div class="alert alert-primary">
                <button form="filtersForm" class="close" name="deleteFilter" value="{{filter}}" 
                type="submit"
                ><i class="fa fa-trash"></i></button>
                {{filter}}: {{filters[filter]}}
            </div>
            {%endif%}
            {% endfor %}

        </div>
        <div class="col-md-8 table">
            {%if detected_vehicles %}
            <table class="table table-hover table-responsive-sm">
                <thead>
                  <tr>
                    <th scope="col">Vehicle Number</th>
                    <th scope="col">Type</th>
                    <!-- <th scope="col">Color</th> -->
                    <!-- <th scope="col">Date</th> -->
                    <th scope="col">Time</th>
                    <th scope="col">Video Link</th>
                  </tr>
                </thead>
                <tbody>
                {%for vehicle in detected_vehicles%}
                  <tr>
                    <td>{{vehicle[0]}}</td>
                    <td>{{vehicle[1]}}</td>
                    <!-- <td>Orange</td>
                    <td>21/3/21</td> -->
                    <td>{{vehicle[2]}}</td>
                    <td><a href="{{ url_for('uploads',folder=vehicle[3],video=vehicle[4]) }}">{{vehicle[3]}}/{{vehicle[4]}}</a></td>
                  </tr>
                {%endfor%}
                  
                </tbody>
              </table>
              {%else%}
              <p>No vehicles detected</p>
              {%endif%}
        </div>
    </div>
</div>
    
{% include 'scripts.html' %}
<script>
    // if ( window.history.replaceState ) {
    //      window.history.replaceState( null, null, window.location.href );
    //   }

    $("input").change(function(){
        $("[name='filters']").click();
        // $("#filtersForm").validate({
        // submitHandler: function(form) {
        //     // do other things for a valid form
        //     // form.submit();
        //     console.log("fe")
        // }
        // });
        // if($(this).id=="fromtime" || $(this).id=="totime")
        // {
        //     var re = new RegExp("^([0-1]?\d|2[0-3])(?::([0-5]?\d))?(?::([0-5]?\d))?$");
        //     if (re.test($(this).val())) {
        //         console.log("Valid");
        //     } else {
        //         console.log("Invalid");
        //     }
        // }
        
    });
    $("select").change(function(){
        // this.form.submit();
        $("[name='filters']").click();
    });

    $(".btn-danger").click(function(){
        $("input").val("");
        $("select").children("option").val("");
        // $(".btn-danger").hide();
        $("#filtersForm").submit();
    });
    $( document ).ready(function() {
        var selected=$("select").children("option").filter(":selected").val()
        if( $('input[value!=""]').length > 0  || selected!=''){  
        $(".btn-danger").show();
    }
});

</script>
</body>
</html>



