<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title>Login</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home/css/bootstrap.min.css')}}">
	<!-- style css -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home/css/style.css')}}">
	<!-- Responsive-->
	<link rel="stylesheet" href="{{url_for('static', filename='home/css/responsive.css')}}">
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='home/css/jquery.mCustomScrollbar.min.css')}}">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- Bootstrap CSS -->
    <!-- <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet"> -->
	<!-- Site CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
	<!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/all.min.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login-register.css')}}">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

	<style>
		body{
		background-color: #f2faf7 ;
	}
		</style>
</head>

<body>
	<header id="home"class="section">
		<div class="header_main">
			 <!-- header inner -->
			 {% set active_page = "login" %}
			 {% include 'header_inner.html' %}
			 <!-- end header inner -->
		</div>
	</header>
<div  class="main-form-box">
	
	<div class="md-form">
		<div class="container">
			{%if request.args.get('next', '')%}
			<div class="alert alert-warning col-md-6 offset-md-3">
				Please Login to continue!
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{%endif%}
			{% for category,message in get_flashed_messages(with_categories=true) %}
			{%if category=="registered"%}
			<div class="alert alert-success col-md-6 offset-md-3">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{%endif%}
			{% endfor %}
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="panel panel-login">
						<div class="panel-heading">
							<div class="row">
								<div class="col-lg-12" >
									<span id="login-form-link">Login</span>
								</div>
								<!-- <div class="col-lg-6 col-sm-6 col-xl-6">
									<a href="{{url_for('login')}}" class="active"  id="login-form-link">Login</a>
								</div>
								<div class="col-lg-6 col-sm-6 col-xl-6">
									<a href="{{url_for('register')}}" id="register-form-link">Register</a>
								</div>
								 <div class="or">OR</div>  -->
							</div>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
			
									{% for category,message in get_flashed_messages(with_categories=true) %}
									{%if category!="registered"%}
									<div class="alert alert-warning ">
										{{ message }}
										<button type="button" class="close" data-dismiss="alert">&times;</button>
									</div>
									{%endif%}
									{% endfor %}
									

									<form id="login-form" action="" method="post" role="form" style="display: block;">
										<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
										<div class="form-group">
											<label class="icon-lp"><i class="fas fa-envelope"></i></label>
											{{ loginform.email(class="form-control", placeholder="Email Address") }}
											{% if loginform %}
											{% for errors in loginform.email.errors %}
												<p class="form-text text-danger">
													{{ errors }}
												</p>
											{% endfor %}
											{% endif %}
										</div>
										<div class="form-group">
											<label class="icon-lp"><i class="fas fa-key"></i></label>
											{{ loginform.password(class="form-control", placeholder="Password") }}
											{% if loginform %}
											{% for errors in loginform.password.errors %}
												<p class="form-text text-danger ">
													{{ errors }}
												</p>
											{% endfor %}
											{% endif %}
										</div>
										<!-- <div class="che-box">
											<label class="checkbox-in">
												<input type="checkbox" tabindex="3" id="remember"> <span></span>
												Remember Me
											</label>
										</div> -->
										<input
											type="hidden"
											name="next"
											value="{{ request.args.get('next', '') }}"
										/>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 offset-sm-3">
													<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
												</div>
											</div>
										</div>
										<!-- <button type="button" class="col-sm-6 offset-sm-3 login-with-google-btn" >
												Sign in with Google
										</button> -->
										<div class="form-group">
											<div class="row">
												<div class="col-lg-12">
													<div class="text-center">
														<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-lg-12">
													<div class="text-center">
														New User? <a href="{{url_for('register')}}" tabindex="5" class="">Register Here</a>
													</div>
												</div>
											</div>
										</div>
									</form>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


{% include 'scripts.html' %}

</body>
</html>
