<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

 <!-- Javascript files-->
 <script src="{{url_for('static', filename='home/js/jquery.min.js')}}"></script>
 <script src="{{url_for('static', filename='home/js/popper.min.js')}}"></script>
 <script src="{{url_for('static', filename='home/js/bootstrap.bundle.min.js')}}"></script>


   <script src="{{url_for('static', filename='home/js/jquery-3.0.0.min.js')}}"></script>
   <script src="{{url_for('static', filename='home/js/plugin.js')}}"></script>
   <!-- sidebar -->
   <script src="{{url_for('static', filename='home/js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
   <script src="{{url_for('static', filename='home/js/custom.js')}}"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>