<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- site metas -->
<title>LNPR</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home/css/bootstrap.min.css')}}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home/css/style.css')}}">
<!-- Responsive-->
<link rel="stylesheet" href="{{url_for('static', filename='home/css/responsive.css')}}">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='home/css/jquery.mCustomScrollbar.min.css')}}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/uploads.css')}}">

</head>
<body>
	<header id="home"class="section">
	<div class="header_main">
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"><a href="#home"><img src="{{url_for('static', filename='home/images/logo-empty.png')}}" style="max-width: 100%;"></a> 
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="menu-area">
                        <div class="limit-box">
                           
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li><a href="{{url_for('index')}}"><i class="fa fa-car" style="font-size:22px"></i> Home</a></li>
                                 
                                 {% if session['email'] %}
                                 <li><a href="{{url_for('uploads')}}" class="nav-active"><i class="fa fa-upload" style="font-size:22px"></i> My Uploads</a></li>
                                 <li><a href="{{url_for('history')}}"><i class="fa fa-history" style="font-size:22px"></i> History</a></li>
                                 <li><a href="{{url_for('logout')}}"><i class="fa fa-sign-out" style="font-size:22px"></i> Logout</a></li>
                                 {% else %}
                                 <li><a href="{{url_for('login')}}"><i class="fa fa-user" style="font-size:22px"></i> Log In</a></li>
                                 <li><a href="{{url_for('register')}}"><i class="fa fa-user-plus" style="font-size:22px"></i> Register</a></li>
                                 {% endif %}
                                 
                                 <!-- <li><a href="#feedback"><i class="fa fa-comments-o" style="font-size:22px"></i> Feedback</a></li> -->
                              </ul>
                           </nav>
                        </div>
                     </div>
                 </div>
               </div>
            </div>
         </div>
         </div>
         <!-- end header inner -->
	</header>
    <!-- banner end -->    

<!-- Main Content Div -->
   <div class="container-fluid">
      <div class="row">
         {% for category,message in get_flashed_messages(with_categories=true) %}
         <div class="alert alert-{{ category }}  col-md-4">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
         </div>
         {% endfor %}
      </div>
      <div class="row main-section">
         
         <!-- First Column: Folders List -->
         <div class="col-sm-4 col-md-3">
            <form action="{{ url_for('uploads') }}" method="POST">
               <div class="row">
                  <div class="col-10">
                     <div class="textbox">
                        <input type="text" class="input" name="newFolder" placeholder="New Folder"> 
                  </div>
                  </div>
                  <div class="col-2">
                     <button class="addfolder" name="createFolder" type="submit"><i class="fas fa-folder-plus"></i></button>
                     
                  </div>
               </div>
            </form>
            <form action="{{ url_for('uploads') }}" method="POST">
            <div class="row">
               <div class="col-12">
                  <div class="textbox">
                     <input type="text" class="input" name="sfolder" placeholder="Search by Folder Name">
                     <button class="btn-search" type="submit" name="searchFolder"><i class="fa fa-search" aria-hidden="true"></i></button>
               </div>
               </div>
            </div>
            </form>

            <div class="folders-display">
               {% if folders%}
               <ul id="ulist" class="list-group list-group-flush">
                  
                  {% for folder in folders %}
                  <li class="list-group-item folder-item {%if openFolder and openFolder==folder[0]%}openFolder{%endif%}">
                     <form  method="post" action="{{ url_for('uploads') }}">
                     <div class="folder-name">
                        <a href="{{url_for('uploads')}}?folder={{folder[0]}}" title="Click icon to open folder"> <i class="fas {%if openFolder==folder[0]%}fa-folder-open{%else%}fa-folder{%endif%}"></i> </a>
                        <span class="folder-name-text" contenteditable="true">{{folder[0]}}</span>
                         <div class="pull-right action-buttons {%if openFolder!=folder[0]%}hidden{%endif%}">
                           <button type="submit" name="deleteFolder" value="{{folder[0]}}" onClick="javascript: return confirm('Please confirm deletion.\nOn deletion of folder all the videos in the folder will be lost');" ><i class="fa fa-trash"></i></button>
                         </div>  
                     </div>
                     <input type="submit"  name="editFolder" value="{{folder[0]}}"  style="display:none;" />
                  </form>
                  </li>
                  {% endfor %}
                  
               </ul>
               {% else %}
                  <p>No folders found</p>
               {% endif %}
            </div>
         </div>


         {% if not openFolder%}
         <!-- Second Column: Image displayed if no folders opened -->
         <div id="main" style="width: 700px; height: 600px;">
            <img src="../static/images/not-open-folder-2.png" style="margin:auto;width:750px;display:block;opacity:0.13;padding-top:70px;padding-left:100px;" />
         </div>
         {%endif%}

         {% if openFolder%}
         <!-- Second Column: Video Display and Search -->
         <div class="col-sm-8 col-md-6 " id="videosList">
            <form action="" id="search-Videos" method="POST">
            </form>
            <form action="{{ url_for('uploads') }}" id="del-Videos" method="POST">
            <div class="row">
               <div class="col-md-2">
                  <i class="fa fa-check-square check-uncheck-all"></i>
                  <!-- <i class="fa fa-minus-square-o"></i> -->
                  <button type="submit" name="deleteVideos" value="{{openVideo[2]}}" onClick="javascript: return confirm('Please confirm deletion. All selected videos will be deleted');"><i class="fa fa-trash deleteAll"></i></button>
               </div>
               
               <div class="col-md-4">
                  <input type="text"  placeholder="Enter Video Name" name="svideo" form="search-Videos">
               </div>
               <div class="col-md-4">
                  <label>Select Date: </label>
                  <input type="date" id="date" name="videodate" form="search-Videos">
               </div>
               <div class="col-md-2">
                  <button type="submit" name="searchVideos" form="search-Videos" class="btn btn-info">Search <i class="fa fa-search" aria-hidden="true"></i></button>
               </div>

            </div>
            <a class="btn btn-primary" href="{{url_for('detected_vehicles')}}">Show Detected Vehicles</a>
            {%if videos%}
            <ul class="list-group list-group-flush">
               {% for video in videos %}
               <li class="list-group-item">
                  <a href="{{url_for('uploads')}}?folder={{openFolder}}&video={{video[0]}}" title="Click to view video"> 
                 <div class="media">
                    <div class="checkbox pull-left">
                          <input type="checkbox" name="selectedVideos" value="{{video[2]}}">				
                    </div>
                    <div class="pull-left">
                     <video width="100" height="70">
                        <source src="{{url_for('static', filename='uploads/'+session['email']+'/'+video[2])}}" type="video/mp4">
                     </video>
                    </div>
                    <div class="media-body">
                       <h3 class="media-heading">{{video[0]}}</h3>
                       <span class="video-desc" style="font-size: 1.2em;">{{video[1]}}</span>
                    </div>
                    <span class="label label-danger pull-right">{{video[5].strftime("%d/%m/%Y, %I:%M %p")}}</span>
                 </div>		
               </a>			      
               </li>  
               {%endfor%}
            </ul>
            {%else%}
               <p>No videos found. </p>
               <p>Click on the + icon at the bottom right to add new video.</p>
            {%endif%}
            </form>
         </div>

         <!-- Add video button -->
         <a id="float"  title="Add new video" data-toggle="modal" data-target="#addVideoModal">
            <i class="fa fa-plus my-float"></i>
         </a>
         <!-- Add video form -->
         <div class="modal fade" id="addVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Upload Video</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form action="{{url_for('uploads')}}?folder={{openFolder}}" method="post" enctype = "multipart/form-data">
                     <div class="file-upload-wrapper">
                        <input type="file" id="input-file-now" name="video" class="file-upload" required/>
                     </div>
                     <div class="form-group">
                        <label>Video Name *</label>
                        <input type="text" placeholder="Video1" name="video-name" class="form-control" required>
                     </div>
                     <div class="form-group">
                        <label>Comment</label>
                        <textarea rows="6" class="form-control" name="video-comment" ></textarea>
                     </div>
                     <div class="modal-footer">
                        <button type="submit"  name="uploadVideo" class="btn btn-success">Upload Video</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                     
                     </div>
                  </form>
               </div>              
            </div>
            </div>
         </div>
         
         {%endif%}

         <!-- Third Column: Video Display -->
         {% if openVideo%}
         
            <div class="col-sm-12 col-md-3" id="videoDisplay">
               <form action="{{ url_for('uploads') }}?folder={{openFolder}}" method="POST">
                  <h3>{{openVideo[0]}}</h3>
                  <button type="button" id="editVideo" data-toggle="modal" data-target="#editVideoModal"><i class="fa fa-edit"></i></button>
                  
                  <!-- <i class="fa fa-trash deleteAll"></i> -->
                  <button type="submit" name="deleteVideo" value="{{openVideo[2]}}" onClick="javascript: return confirm('Please confirm deletion.');"><i class="fa fa-trash deleteAll"></i></button>
                  <video width="95%" controls>
                     <source src="{{url_for('static', filename='uploads/'+session['email']+'/'+openVideo[2])}}" type="video/mp4">
                  </video>
                  <p align="justify">
                     {{openVideo[1]}}
                  </p>
               </form>
            </div>


         <!-- Edit video form -->
         <div class="modal fade" id="editVideoModal" tabindex="-1" role="dialog" aria-labelledby="editVideoModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Edit Video Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form action="{{url_for('uploads')}}?folder={{openFolder}}" method="post">
                     <div class="form-group">
                        <label>Video Name *</label>
                        <input type="text" placeholder="Video1" name="new-video-name" class="form-control" value="{{openVideo[0]}}" required>
                     </div>
                     <div class="form-group">
                        <label>Comment</label>
                        <textarea rows="6" class="form-control" name="new-video-comment" >{{openVideo[1]}}</textarea>
                     </div>
                     <div class="modal-footer">
                        <button type="submit"  name="editVideo" value="{{openVideo[2]}}" class="btn btn-success">Save Changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                     
                     </div>
                  </form>
               </div>              
            </div>
            </div>
         </div>
         
         {%endif%}

      </div>
   </div>
   

   
   
   <script type="text/javascript">
      if ( window.history.replaceState ) {
         window.history.replaceState( null, null, window.location.href );
      }

      // $(document).ready(function(){
      //    $('.action-buttons').addClass("hidden");
      //    $('.folder-item').click(function() {
      //       var delBtn = $(this).children("form").children(".folder-name").children(".action-buttons");
      //       //change color of opened folder
      //       $('.folder-item').removeClass("openFolder");
      //       $(this).addClass("openFolder");
      //       //hide/show delete buttons
      //       $(".folder-name").children(".action-buttons").addClass("hidden");
      //       if (delBtn.hasClass("hidden")) {
      //          delBtn.removeClass("hidden");
      //       } else {
      //          delBtn.addClass("hidden");
      //       }
      //       //open folder icon
      //       $('.list-group-item').children("form").children(".folder-name").children(".fas").removeClass('fa-folder-open').addClass('fa-folder')
      //       $(this).children("form").children(".folder-name").children(".fas").removeClass('fa-folder').addClass('fa-folder-open')
      //    });     
      // });

      // $(".folder-item").click(function(){
      //    $("#videosList").show()
      //    $("#float").show()
      // });

      // $(".media").click(function(){
      //    $("#videoDisplay").show()
      // });

      // Display short description in list of videos
      $( ".video-desc" ).each(function() {
         var desc= $(this).text();
      if (desc.length > 40) {
         var shortdesc = desc.substring(0, 40) + " ...";
         $(this).replaceWith(shortdesc);
      }
      });
      
      // Check uncheck 
      $('.check-uncheck-all').click(function() {
         if( $(this).hasClass('fa-check-square')){
            $(this).removeClass('fa-check-square').addClass('fa-minus-square-o');
            $('input:checkbox').prop('checked',true);
         }
         else if($(this).hasClass('fa-minus-square-o')){
            $(this).removeClass('fa-minus-square-o').addClass('fa-check-square');
            $('input:checkbox').prop('checked', false);
         } 
         });
      
         $('input:checkbox').click(function() {
         if ($('input[type="checkbox"]:checked').length === 0) {
            $('.check-uncheck-all').removeClass('fa-minus-square-o').addClass('fa-check-square');
         } 
         else {
            $('.check-uncheck-all').removeClass('fa-check-square').addClass('fa-minus-square-o');
            console.log('All checkboxes are checked');
         } 
      });
   

      // Editable text for folder name
      $(".folder-name-text").keypress(function(e){
      if(e.keyCode== 13 || e.which== 13) { //if enter key is pressed
         e.preventDefault();
            var newFolderName=$(this).text(); 
            $(this).parent().append('<input type="hidden" value="'+newFolderName+'" name="newFolderName">'); 
            console.log(newFolderName)
            $(this).parent().siblings('input').click(); //submit the form
         }
      });

   </script>
</body>
</html>



