<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- site metas -->
<title>LNPR</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home/css/bootstrap.min.css')}}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home/css/style.css')}}">
<!-- Responsive-->
<link rel="stylesheet" href="{{url_for('static', filename='home/css/responsive.css')}}">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='home/css/jquery.mCustomScrollbar.min.css')}}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/uploads.css')}}">
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<header id="home"class="section">
	<div class="header_main">
      <!-- header inner -->
      {% set active_page = "uploads" %}
      {% include 'header_inner.html' %}
   
      <!-- end header inner -->
   </div>
	</header>
    <!-- banner end -->    
    <br>
    <br>
    <br>
<h2 align="center"> My Uploads </h2>
<!-- Main Content Div -->
   <div class="container-fluid">
      <div class="row">
         {% for category,message in get_flashed_messages(with_categories=true) %}
         <div class="alert alert-{{ category }}  col-md-4">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
         </div>
         {% endfor %}
      </div>
      <div id="progress"></div>
      <div class="row main-section">
         
         <!-- First Column: Folders List -->
         <div class="col-sm-4 col-md-3">
            <form action="{{ url_for('uploads') }}" method="POST">
               <div class="row">
                  <div class="col-10">
                     <div class="textbox">
                        <input type="text" class="input" name="newFolder" minlength="3" maxlength="20" placeholder="Create New Folder" pattern="^[A-Za-z0-9_ -]*$" title="Only alphabets, numbers, spaces, hiphens and underscores allowed."> 
                     </div>
                  </div>
                  <div class="col-2">
                     <button class="addfolder" name="createFolder" type="submit"><i class="fas fa-folder-plus"></i></button>
                     
                  </div>
               </div>
            </form>
            <form action="{{ url_for('uploads') }}" method="POST">
            <div class="row">
               <div class="col-12">
                  <div class="textbox">
                     <input type="text" class="input" name="sfolder" placeholder="Search by Folder Name" pattern="^[A-Za-z0-9_ -]*$" title="Only alphabets, numbers, spaces, hiphens and underscores allowed.">
                     <button class="btn-search" type="submit" name="searchFolder"><i class="fa fa-search" aria-hidden="true"></i></button>
               </div>
               </div>
            </div>
            </form>

            <div class="folders-display">
               {% if folders%}
               <ul id="ulist" class="list-group list-group-flush">
                  
                  {% for folder in folders %}
                  <li title="Click icon to open folder" class="list-group-item folder-item {%if openFolder and openFolder==folder[0]%}openFolder{%endif%}">
                     <form  method="post" action="{{ url_for('uploads') }}">
                     <div class="folder-name">
                        <a href="{{url_for('uploads')}}?folder={{folder[0]}}" > <i class="fas {%if openFolder==folder[0]%}fa-folder-open{%else%}fa-folder{%endif%}"></i> </a>
                        <span class="folder-name-text" contenteditable="true">{{folder[0]}}</span>
                         <div class="pull-right action-buttons {%if openFolder!=folder[0]%}hidden{%endif%}">
                           <button type="submit" name="deleteFolder" value="{{folder[0]}}" onClick="javascript: return confirm('Please confirm deletion.\nOn deletion of folder all the videos in the folder will be lost');" ><i class="fa fa-trash"></i></button>
                         </div>  
                     </div>
                     <input type="submit"  name="editFolder" value="{{folder[0]}}"  style="display:none;" />
                  </form>
                  </li>
                  {% endfor %}
                  
               </ul>
               {% else %}
                  <p>No folders found</p>
                  
               {% endif %}
            </div>
         </div>


         {% if not openFolder%}
         <!-- Second Column: Image displayed if no folders opened -->
         <div id="main" style="width: 700px; height: 600px;">
            <img src="../static/images/not-open-folder-2.png" style="margin:auto;width:750px;display:block;opacity:0.13;padding-top:70px;padding-left:100px;" />
         </div>
         {%endif%}

         {% if openFolder%}
         <!-- Second Column: Video Display and Search -->
         <div class="col-sm-8 col-md-6 " id="videosList">
            <form action="" id="search-Videos" method="POST">
            </form>
            <form action="{{ url_for('uploads') }}?folder={{openFolder}}" id="del-Videos" method="POST">
            <div class="row">
               <div class="col-md-2">
                  <i class="fa fa-check-square check-uncheck-all"></i>
                  <!-- <i class="fa fa-minus-square-o"></i> -->
                  <button type="submit" name="deleteVideos" title="Delete selected videos" value="" onClick="javascript: return deleteConfirm();"><i class="fa fa-trash deleteAll"></i></button>
               </div>
               
               <div class="col-md-4">
                  <input type="text" class="searchVideo" placeholder="Search Videos" name="svideo" form="search-Videos"  value="{{request.form['svideo']}}">
               </div>
               <div class="col-md-*">
                  <label>Search by Date: </label>
                  <input type="date" class="searchVideo"  id="date" name="videodate" form="search-Videos" value="{{request.form['videodate']}}">
                  <i class="fa fa-close" id="dateReset"></i>
               </div>
               <button type="submit" style="display:none" name="searchVideos" form="search-Videos" class="btn btn-info">Search <i class="fa fa-search" aria-hidden="true"></i></button>


            </div>
            <div class="row">
               <div class="col-lg-6">
                  <a  class="btn primary" href=""  data-toggle="modal" data-target="#addVideoModal">
                     Add new video <i class="fa fa-video-camera" aria-hidden="true"></i> 
                  </a> 
               </div>
               <div class="col-lg-6" id="show_dv" style="display: none;">
                  <button class="btn primary" type="submit" name="detectVehicles" value="">Show Detected Vehicles</button>
                  <!-- <a class="btn primary" href="{{url_for('detected_vehicles')}}">Show Detected Vehicles</a> -->
               </div>
               
            </div>
            
            {%if videos%}
            <p>Select videos to detect vehicles</p>
            <ul class="list-group list-group-flush">
               {% for video in videos %}
               <li class="list-group-item">
                  <a href="{{url_for('uploads')}}?folder={{openFolder}}&video={{video[0]}}" title="Click to view video"> 
                 <div class="media">
                        {%if video[2] in detecting_vehicles.values()%}
                        <i class="fa fa-spinner fa-spin" title="Detecting vehicles..." style="font-size:24px"></i>
                        {%else%}
                    <div class="checkbox pull-left">
                     <input type="checkbox" name="selectedVideos" value="{{video[2]}}">				
                  </div>
                  {%endif%}
                    <div class="pull-left">
                     <video width="100" height="70">
                        <source src="{{url_for('static', filename='uploads/'+session['email']+'/'+video[2])}}" type="video/mp4">
                     </video>
                    </div>
                    <div class="media-body">
                       <h3 class="media-heading">{{video[0]}}</h3>
                       <span class="video-desc" style="font-size: 1.2em;">{{video[1]}}</span>
                    </div>
                    <span class="label label-danger pull-right">{{video[5].strftime("%d/%m/%Y, %I:%M %p")}}</span>
                 </div>		
               </a>			      
               </li>  
               {%endfor%}
            </ul>
            {%else%}
               <p>No videos found. </p>
               <!-- <p>Click on the + icon at the bottom right to add new video.</p> -->
            {%endif%}
            </form>
         </div>

         <!-- Add video button -->
         <!-- <a id="float"  title="Add new video" data-toggle="modal" data-target="#addVideoModal">
            <i class="fa fa-plus my-float"></i>
         </a> -->
         <!-- Add video form -->
         <div class="modal fade" id="addVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Upload Video</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form action="{{url_for('uploads')}}?folder={{openFolder}}" method="post" enctype = "multipart/form-data">
                     <div class="file-upload-wrapper">
                        <input type="file" id="input-file-now" name="video" class="file-upload" required/>
                     </div>
                     <div class="form-group">
                        <label>Video Name *</label>
                        <input type="text" placeholder="Video1" name="video-name" class="form-control"  minlength="3" maxlength="20" required
                        pattern="^[A-Za-z0-9_ -]*$" title="Only alphabets, numbers, spaces, hiphens and underscores allowed.">
                     </div>
                     <div class="form-group">
                        <label>Comment</label>
                        <textarea rows="6" class="form-control" name="video-comment" ></textarea>
                     </div>
                     <div class="modal-footer">
                        <button type="submit"  name="uploadVideo" class="btn btn-success">Upload Video</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                     
                     </div>
                  </form>
               </div>              
            </div>
            </div>
         </div>
         
         {%endif%}

         <!-- Third Column: Video Display -->
         {% if openVideo%}
         
            <div class="col-sm-12 col-md-3" id="videoDisplay">
               <form action="{{ url_for('uploads') }}?folder={{openFolder}}" method="POST">
                  <h3>{{openVideo[0]}}</h3>
                  <button type="button"  id="editVideo" data-toggle="modal" data-target="#editVideoModal" ><i class="fa fa-edit"></i></button>
                  
                  <!-- <i class="fa fa-trash deleteAll"></i> -->
                  <button {%if openVideo[2] in detecting_vehicles.values()%} type="button" onclick="alert('Cannot delete video as vehicle detections in progress')" {%else%} type="submit"  onClick="javascript: return confirm('Please confirm deletion.');" {%endif%} name="deleteVideo" value="{{openVideo[2]}}" ><i class="fa fa-trash deleteAll"></i></button>
                  <video width="95%" controls>
                     <source src="{{url_for('static', filename='uploads/'+session['email']+'/'+openVideo[2])}}" type="video/mp4">
                  </video>
                  <p align="justify">
                     {{openVideo[1]}}
                  </p>
               </form>
            </div>


         <!-- Edit video form -->
         <div class="modal fade" id="editVideoModal" tabindex="-1" role="dialog" aria-labelledby="editVideoModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Edit Video Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form action="{{url_for('uploads')}}?folder={{openFolder}}&video={{openVideo[0]}}" method="post">
                     <div class="form-group">
                        <label>Video Name *</label>
                        <input type="text" placeholder="{{openVideo[0]}}" name="new-video-name" class="form-control" value="{{openVideo[0]}}"  minlength="3" maxlength="20" required
                        pattern="^[A-Za-z0-9_ -]*$" title="Only alphabets, numbers, spaces, hiphens and underscores allowed.">
                     </div>
                     <div class="form-group">
                        <label>Comment</label>
                        <textarea rows="6" class="form-control" name="new-video-comment" >{{openVideo[1]}}</textarea>
                     </div>
                     <div class="modal-footer">
                        <button type="submit"  name="editVideo" value="{{openVideo[2]}}" class="btn btn-success">Save Changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                     
                     </div>
                  </form>
               </div>              
            </div>
            </div>
         </div>
         
         {%endif%}

      </div>
   </div>
   

   
   
   <script type="text/javascript">
      if ( window.history.replaceState ) {
         window.history.replaceState( null, null, window.location.href );
      }

      window.onload = setupRefresh;

      function setupRefresh() {
         var previous = null;
         var current = null;
         setInterval(function() {
            //First sent request to uploads page to update json file
            $.ajax({
            type:'GET',
            url:'{{url_for("uploads")}}',
            success:function(data)
            {
               console.log("GET request to uploads");

               // Send request to taskvideo route which returns json data from json file
               $.ajax({
               type:'GET',
               url:'taskvideo',
               success:function(data)
               {
                  current=JSON.stringify(data);
                  console.log(data);
                  // If data changed
                  if (previous && current && previous !== current) {
                     if(confirm("Detections completed for a video... Should the page be reloaded?"))
                     {
                        console.log("Yes reload");
                        window.location = location.href;
                     }
               }
               previous = current;
               } 
               });
            }
            });
         }, 5000)}
      
      
         //This function Not needed now
      function checkDetections() {
         
         var data1;
         fetch('static/celery_task_video.json')
               .then(response => response.json())
               .then(data => {
               data1=data;
               console.log(data);
         });

            $.ajax({
            type:'GET',
            url:'{{url_for("uploads")}}',
            success:function(data)
            {
               var data2;
               console.log(data);
               fetch('static/celery_task_video.json')
               .then(response => response.json())
               .then(data2 => {
                  // Do something with your data
                  console.log(data2);
                  if (JSON.stringify(data1)===JSON.stringify(data2)){
                     if(confirm("Detections completed for a video... Should the page be reloaded?")){
                        console.log("Yes reload");
                        window.location = location.href;
                     }
                  }
               });

            }
            });
      }
/*
// Show/ Hide Delete buttons etc jquery old
      $(document).ready(function(){
         $('.action-buttons').addClass("hidden");
         $('.folder-item').click(function() {
            var delBtn = $(this).children("form").children(".folder-name").children(".action-buttons");
            //change color of opened folder
            $('.folder-item').removeClass("openFolder");
            $(this).addClass("openFolder");
            //hide/show delete buttons
            $(".folder-name").children(".action-buttons").addClass("hidden");
            if (delBtn.hasClass("hidden")) {
               delBtn.removeClass("hidden");
            } else {
               delBtn.addClass("hidden");
            }
            //open folder icon
            $('.list-group-item').children("form").children(".folder-name").children(".fas").removeClass('fa-folder-open').addClass('fa-folder')
            $(this).children("form").children(".folder-name").children(".fas").removeClass('fa-folder').addClass('fa-folder-open')
         });     
      });

      $(".folder-item").click(function(){
         $("#videosList").show()
         $("#float").show()
      });

      $(".media").click(function(){
         $("#videoDisplay").show()
      });
*/
      // Display short description in list of videos
      $( ".video-desc" ).each(function() {
         var desc= $(this).text();
      if (desc.length > 40) {
         var shortdesc = desc.substring(0, 40) + " ...";
         $(this).replaceWith(shortdesc);
      }
      });
      
      // Check uncheck button
      $('.check-uncheck-all').click(function() {
         if( $(this).hasClass('fa-check-square')){ //unchecked
           if( $('input:checkbox').length >0){ // if there are checkboxes
            $(this).removeClass('fa-check-square').addClass('fa-minus-square-o'); //checked
            $('input:checkbox').prop('checked',true); 
            $("#show_dv").show();
           }
            
         }
         else if($(this).hasClass('fa-minus-square-o')){
            $(this).removeClass('fa-minus-square-o').addClass('fa-check-square');
            $('input:checkbox').prop('checked', false);
            $("#show_dv").hide();
         } 
         });
      
         $('input:checkbox').click(function() {
         if ($('input[type="checkbox"]:checked').length === 0) {
            $('.check-uncheck-all').removeClass('fa-minus-square-o').addClass('fa-check-square');
            $("#show_dv").hide();
         } 
         else {
            $('.check-uncheck-all').removeClass('fa-check-square').addClass('fa-minus-square-o');
            $("#show_dv").show();
         } 
      });
   

      // Editable text for folder name
      $(".folder-name-text").keypress(function(e){
      if(e.keyCode== 13 || e.which== 13) { //if enter key is pressed
         e.preventDefault();
            var newFolderName=$(this).text(); 
            $(this).parent().append('<input type="hidden" value="'+newFolderName+'" name="newFolderName">'); 
            console.log(newFolderName)
            $(this).parent().siblings('input').click(); //submit the form
         }
      });

      $(".searchVideo").change(function(){
         // console.log(this.form.id)
         $('[name="searchVideos"]')[0].click();
      });
      $('#dateReset').click(function(){
         $('input[type="date"]').val("")
         $('[name="searchVideos"]')[0].click();
      })

      function deleteConfirm(){
         if ($('input[type="checkbox"]:checked').length === 0) {
            alert("No videos selected for deletion!")
            return false;
         }
         else{
            return confirm('Please confirm deletion. All selected videos will be deleted');
         }
      }


   </script>
   
   {% include 'scripts.html' %}

</body>
</html>



